{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container mt-5 estatisticas wrap">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Criar conta</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'partials/_alertas.html' %}
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'cadastro' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-12 mt-2">
                                <label for="nome_receita"><b>Nome completo</b></label>
                                <input type="text" class="form-control" name="nome" placeholder="Ex.: PaP" required>
                            </div>
                            <div class="col-12 col-lg-12 mt-2">
                                <label for="email"><b>Email</b></label>
                                <input type="email" class="form-control" name="email" placeholder="Ex.: pap.practia@global.com" required>
                            </div>
                            <div class="col-12 col-lg-6 mt-2">
                                <label for="password"><b>Senha</b></label>
                                <input type="password" class="form-control" name="password" placeholder="Digite sua senha" required>
                            </div>
                            <div class="col-12 col-lg-6 mt-2">
                                <label for="password2"><b>Confirmação de senha</b></label>
                                <input type="password" class="form-control" name="password2" placeholder="Digite sua senha mais uma vez" required>
                            </div>

                            {% if empresas %}
                            <div class="col-12 col-lg-12 mt-3">
                                <label for="empresa"><b>Empresa</b></label>
                                <select class="form-select mt-2" id="empresa" name="empresa_usuario" aria-label="Default select example" required>
                                    <option selected>Selecione uma empresa</option>
                                    {% for empresa in empresas %}
                                        <option value="{{ empresa.id }}" id="txt" >{{empresa.nome_empresa}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% else %}
                                <p>Antes de criar um processo cria uma Empresa para ser dona deste processo</p>
                            {% endif %}

                            <div class="form-check mt-3 ms-2">
                                <input class="form-check-input" type="checkbox"  name="admin" value="True" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Administrador
                                </label>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16"  data-bs-toggle="popover" data-bs-content="Administrador pode criar empresas, usuários e novos processos">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                  </svg>
                                <!-- <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> -->
                            </div>

                            
                            <div class="col-12 text-center mt-5">
                                <button class="btn btn-primary" type="submit">Criar sua conta</button>
                            </div>
                        </div>
                    </form>

                    <div class="contact-form-area">
                        <form class="" action="{% url 'cadastro' %}">
                         <div class="row">
                              <div class="col-12 col-lg-6 mt-3">
                                  <label for="">Busca Empresa</label>
                                  <input type="text" class="form-control" name="busca_empresa" placeholder="Practia" >
                              </div>
                              
                         </div>
                         <div class="col-12 text-center mb-3">
                             <button class="btn btn-primary mt-4" type="submit">Buscar</button>
                         </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% include 'partials/_footer.html' %}
{% endblock %}